  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body{
  background-color: white;
}
.body{
  background-color: whitesmoke;
  margin: auto;
  border-radius: 20px;
  max-width: 95vw;
  min-height: 100vh;
  margin-top: 30px;
  padding: 10rem;
}

main{
  background-color: whitesmoke;
  max-width: 75vw;
  min-height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: 36% 64%;
  box-shadow: 5px 5px 20px ;
  border-radius: 10px;
}
.shoe-image{
  background: linear-gradient(#67FAC8, #49D2CA);
  border-radius: 15px 0 0 15px;
  
}
.nikeShoe{
  position: relative;
  right: 40px;
  width: 20vw;
}
.logo{
  padding: 4rem 10rem 2rem 9rem;
  border: none;
  border-radius: 15px 0 0;
}
.circles{
  display: flex;
  margin: auto;
  padding-top: 30px;
  width: 6vw;
  justify-content: space-around;
}
.circles div{
  background-color: grey;
  height: 11px;
  width: 11px;
  border-radius: 50px;
}
#circle1{
  background: white;
 }

.content{
  padding: 2rem 0 0 2rem;
  align-items: center;
  justify-content: center;
}
.truncation{
  display: flex;
}
.truncated{
  text-decoration: line-through;
  font-size: 1.5rem;
  font-weight: bold;
}
.truncation span{
  color: red;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
h5{
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 600;
  
}
.description{
  color: grey;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.nike{
  font-size: 2rem;
  font-weight: 600;
  color: #444444;
  font-weight: bold;
}
.mint{
  color: rgb(204,213,228);
  font-style: italic;
  padding: 1rem 0;
  font-weight: bold;  
}

.color{
  display: flex;
}
.green-mint{
  width: 1rem;
  height: 1rem;
  border-radius: 50% ;
  background-color: #4ED8C8;
  color: #4ED8C8;
  margin-right: 0.5rem;
  position: relative;
}
.green-mint::after{
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  top: -15%;
  left: -19%;
  border: 1px solid;
  border-radius: 50%;
}


.yellow{
  width: 20px;
  height: 20px;
  border-radius: 50% ;
  background-color: #FFEE71;
  margin-right: 0.5rem;
}
.purple{
  width: 20px;
  height: 20px;
  border-radius: 50% ;
  background-color: #6654AF;
  margin-right: 0.5rem;
}
.black{
  width: 20px;
  height: 20px;
  border-radius: 50% ;
  background-color: #343434;
  margin-right: 0.5rem;
}
.grey{
  width: 20px;
  height: 20px;
  border-radius: 50% ;
  background-color: #DFDFDF;
  margin-right: 0.5rem;
}
.span{
  font-weight: 600;
  font-size: .8rem;
}

.line{
  width: 0.0125rem;
  height: 3rem;
  background-color: #DFDFDF;
  margin-bottom: 1rem;
}
.UK{
  display: flex;
  color: #BBBBBB;
}

.line2{
  width: 0.0125rem;
  height: 3rem;
  background-color: #DFDFDF;
  margin-bottom: 1rem;
}

section{
  display: flex;
  width: 12rem;
  height: 2.5rem;
  background: linear-gradient(#FF6367,  #FF4564);
  
  border-radius: .5rem;
  justify-content: center;
}
section p{
  font-size: 1rem;
  color: white;
  font-weight: bold;
  margin-top: .6rem;
  margin-left: .6rem;  
}
section img{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: .4rem;
}

button{
  background: linear-gradient(#ff856a, #ff4063);
  display: flex;
  align-items: center;
  padding: .7em 1rem;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: 700;
  box-shadow: -2px 10px 10px rgba(255, 64, 99, 0.36);
  outline: none;
   }
button img{
  margin-right: .3rem;
}
.button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .share{
   padding-right: 3rem;
 }
